<div id="footer">
  <div>
    <p>
      Copyright &copy;
      <script>document.write(new Date().getFullYear())</script>
      Created by
      <a href="https://ahmed.dev" target="_blank">Ahmed Abbasi</a></p>
  </div>
</div>